.attribution { 
    font-size: 1rem; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
.product{
    background: var(--Cream);
    padding: 2rem 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    gap: 1rem;
}
/* font-family: 'Fraunces', serif;
font-family: 'Montserrat', sans-serif; */
.card{
    width: 100%;
    background: var(--White);
    border-radius: .6rem;
    overflow: hidden;
    font-family: 'Fraunces', serif;
}
.card__picture{
    width: 100%;
}
.card__picture > img{
    width: 100%;
    object-fit: cover;
}
.card__data{
    padding: 1.8rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.card__category{
    font-family: 'Monserrat',sans-serif;
    letter-spacing: 4px;
    font-size: .8rem;
    font-weight: 500;
    line-height: 1rem;
    color: var(--Dark-grayish-blue);
}
.card__product-name{
    font-family: 'Fraunces', serif;
    font-size: 1.85rem;
    line-height: 1.8rem;
}
.card__product-description{
    color: var(--Dark-grayish-blue);
    font-size: .85em;
    line-height: 1.3rem;

}
.card__product-price{
    color: var(--Dark-grayish-blue);
    display: flex;
    align-items: center;
    gap: 1rem;
}
.card__amount{
    font-size: 1.8rem;
    color: var(--Dark-cyan);
}
.card__previousAmount{
    text-decoration: line-through;
    font-size: .85rem;
}
.card__add{
    width: 100%;
    display: block;
    padding: .8rem 1rem;
    border-radius: .4rem;
    border: 0px;
    background: var(--Dark-cyan);
    color: var(--White);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    font-weight: bold;
    font-family: 'Monserrat',sans-serif;
}
.card__add:active{
    background: var(--Very-dark-blue);
}
@media (width >= 414px) {
    .card{
        width: 324px;
    }
    .card__add{
        cursor: pointer;
    }
}
@media (width >= 1000px) {
    .card{
        display: flex;
        width: auto;
    }
    .card__picture{
        width: 280px;
    }
    
    .card__data{
        width: 280px;
        justify-content: space-between;
    }
    .card__picture > img{
        width: 100%;
        object-fit: cover;
    }

}